<h1>Tutorial React w/ Jesse</h1>
<p>Converting a regular HTML page into a single React component.</p>

<div class ="container">
	<h1>React.js Radio Group Demo</h1>
	<form>
		<p class="h3">How did you hear about us?</p>
		
		<p class="radio">
			<label>
				<input type="radio" name="referrer" value="newspaper"/>
			Newspaper
			</label>
		</p>

		<p class="radio">
			<label>
				<input type="radio" name="referrer" value="radio"/>
				Radio
			</label>
		</p>

		<p class="radio">
			<label>
				<input type="radio" name="referrer" value="tv"/>
				Television
			</label>
		</p>

		<p class="radio">
			<label>
				<input type="radio" name="referrer" value="search"/>
				Search Engine
			</label>
		</p>
		
		<p class="radio">
			<label>
				<input type="radio" name="referrer" value="social"/>
				Social Media
			</label>
		</p>

		<p class="form-group radio">
			<label>
				<input type="radio" name="referrer" value="other"/>
				Other
			</label>
			<label class="form-inline">
				Please specify:
				<input type="text" name="referrer_other"/>
			</label>
		</p>

		<p><input type="submit"/></p>
	</form>
</div>

<p>Convert this html into javascript please go to <a href="/part-one">part-one</a> of tutorial</p>
